@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Sikita";
  src: url("./assets/fonts/Sitka.ttc");
}

* {
  font-family: "Noto Sans JP", serif;
}

.noto {
  font-family: "Noto Sans JP";
}

.cambria {
  font-family: Cambria, serif;
}

.sikita {
  font-family: "Sikita";
}

.large-con {
  @apply container mx-auto px-6 md:px-0 xl:max-w-7xl;
}
.small-con {
  @apply container mx-auto px-6 md:px-0 xl:max-w-[1100px];
}

.heading-1 {
  @apply text-center text-[65px] md:text-[75px] lg:text-[84px] xl:text-[91px];
}

.h-underline {
  @apply mb-3 h-[1px] w-27 bg-[#707070] md:w-31 lg:w-36 xl:w-38;
}

.subheading-1 {
  @apply mb-14 text-center text-[21px] leading-[30px] tracking-[0.076em] text-black md:mb-12 md:text-[22px] lg:text-[23px] xl:text-[25px];
}

.s-card-heading {
  @apply mt-3 text-[13px] md:mt-3.5 md:text-base lg:mt-4 lg:text-[19px] xl:mt-5 xl:text-[22px];
}

.s-card-subheading {
  @apply text-xs md:text-base lg:text-xl xl:text-[27px];
}
